$primaryBackground: #000;
$secondaryBackground: #202327;
$ternaryBackground: #512da8;
$borderColor: #2f3336;
$primaryColor: #e7e9ea;
$secondaryColor: #71767b;
$ternaryColor: #1d9bf0;

$border: 1px solid $borderColor;
$padding: 16px 32px;
$borderRadius: 9999px;

$fontLarge: 20px;
$fontMedium: 18px;
$fontSmall: 15px;

@mixin grid {
  display: grid;
}

@mixin gridGap($gap) {
  gap: $gap;
}

@mixin gridCenter {
  @include grid;
  place-content: center;
}

@mixin gridTemplateColumns($cols...) {
  @include grid;
  grid-template-columns: $cols;
}

@mixin gridDirection($direction) {
  grid-auto-flow: $direction;
}

@mixin flex {
  display: flex;
}

@mixin flexCenter {
  @include flex;
  align-items: center;
  justify-content: center;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
