@import '@web3/common/styles/main';

.errorBoundary {
  height: 100vh;
  @include flexCenter;
  flex-direction: column;

  .header {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .btn {
    @include flexCenter;
    font-size: $fontLarge;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 10px;
  }
}
